#menu-button{
    height: 8vh;
    width: 4vw;
    margin-top: 6%;
    margin-left: 15%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.5s;
}
.sidenav a {
    text-decoration: none;
    font-size: 0;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0.5%;
    font-size: 5vh;
}
